view{box-sizing: border-box;overflow:visible}
text{box-sizing: border-box;}
input{box-sizing: border-box;}
image{box-sizing: border-box;}
picker{box-sizing: border-box;}
icon{box-sizing: border-box;}
label{box-sizing: border-box;}
textarea{box-sizing: border-box;}
video{box-sizing: border-box;}
scroll-view{box-sizing: border-box;}

page{font-size:28rpx;background:#f6f6f6}

button {padding-left: 0;padding-right: 0;background-color: transparent;font-size: 28rpx;border:0;border-radius: 0;overflow: visible;}
button::after {border: none;}
.button-view {text-align: left;font-size: 28rpx;line-height: 1.4;}
.button-view::after {width: 0;height: 0;}
.button-view-hover {background-color: transparent;}

.tabbarbot{bottom:110rpx !important}
@supports (bottom: env(safe-area-inset-bottom)){
	.tabbarbot{margin-bottom:env(safe-area-inset-bottom);}
}
@supports (bottom: env(safe-area-inset-bottom)){
	.notabbarbot{padding-bottom:env(safe-area-inset-bottom) !important;}
}
@supports (bottom: env(safe-area-inset-bottom)){
	.notabbarbot2{bottom:env(safe-area-inset-bottom) !important;}
}
.flex {display: flex;}
.flex1 {flex-grow: 1;flex-shrink: 1;}
.flex0 {flex-grow: 0;flex-shrink: 0;}
.flex-row {display: flex;flex-direction: row;}
.flex-col{display: flex;flex-direction: column;}
.flex-x-center{display: flex;justify-content: center;}
.flex-y-center{display: flex;align-items: center;}
.flex-y-bottom{display: flex;align-items: flex-end;}

.flex-bt{display: -moz-box;display: -ms-flexbox;display: -webkit-box;display: -webkit-flex;display: box;display: flexbox;display: flex;flex-direction: row;justify-content: space-between;}
.flex-aw{display: -moz-box;display: -ms-flexbox;display: -webkit-box;display: -webkit-flex;display: box;display: flexbox;display: flex;flex-direction: row;justify-content: space-around;}
.flex-xy-center{display: flex;align-items: center;justify-content: center;}
.flex-x-bottom{display: flex;justify-content: flex-end;}
.flex-wp{display: -moz-box;display: -ms-flexbox;display: -webkit-box;display: -webkit-flex;display: box;display: flexbox;display: flex;flex-wrap: wrap;}

.popup__container{position: fixed;bottom: 0;left: 0;right: 0;width:100%;height:auto;z-index:10;background:#fff}
.popup__overlay{position: fixed;bottom: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 11;opacity:0.3;background:#000}
.popup__modal{width: 100%;position: absolute;bottom: 0;color: #3d4145;overflow-x: hidden;overflow-y: hidden;opacity:1;padding-bottom:20rpx;background: #fff;border-radius:20rpx 20rpx 0 0;z-index:12;min-height:600rpx;max-height:1000rpx;}
.popup__title{text-align: center;padding:30rpx;position:relative}
.popup__title-text{font-size:32rpx}
.popup__close{position:absolute;top:34rpx;right:34rpx}
.popup__content{width:100%;max-height:880rpx;overflow-y:scroll;padding:20rpx 0;}

.wxfaceimg{width:50rpx;height:50rpx}
.copyright{width:100%;line-height:40rpx;color:#C9C9C9;font-size:26rpx;text-align:center;white-space:pre;padding:30rpx 0}



.give-coupon { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2000; background-color: rgba(0, 0, 0, 0.5); }
.give-coupon .coupon-block { margin-top: -140rpx; position: relative; }
.give-coupon .coupon-info { width: 559rpx; border-radius: 0 0 30rpx 30rpx; background-color: #fff; margin-top: -20rpx; padding: 20rpx 0 20rpx 0; }
.give-coupon .coupon-one { width: 100%; height: 164rpx; margin-bottom: 10rpx; }
.give-coupon .coupon-bg { width: 514rpx; height: 164rpx; border-radius: 10rpx; box-shadow: 2rpx 2rpx 30rpx #ddd; padding: 14rpx; }
.give-coupon .coupon-bg-1 { width: 100%; height: 100%; border: 2rpx #ff4544 dashed; border-radius: 10rpx; padding: 0 20rpx; }
.give-coupon .coupon-del { position: absolute; right: 34rpx; top: 224rpx; width: 90rpx; height: 90rpx; }
.give-coupon .coupon-del image{ width: 30rpx; height: 30rpx; }
.give-coupon .coupon-text { color: #707070; margin-top: 24rpx; margin-bottom: 34rpx; font-size: 9pt; }
.give-coupon .coupon-text::before { content: ' '; margin-right: 32rpx; width: 50rpx; height: 1rpx; background-color: #707070; overflow: hidden; margin-top: 21rpx; }
.give-coupon .coupon-text::after { content: ' '; margin-left: 32rpx; width: 50rpx; height: 1rpx; background-color: #707070; overflow: hidden; margin-top: 21rpx; }
.give-coupon .coupon-btn { position: relative;margin:0 auto;width:340rpx;height:70rpx;line-height:70rpx;background:linear-gradient(90deg,#F9475F,#EF155B);color:#fff;border-radius:40rpx;margin-top:20rpx}
.give-coupon .coupon-btn image { width: 374rpx; height: 96rpx; }
.give-coupon .coupon-get{ margin-top: 4rpx; margin-bottom: 20rpx; color: #ff4544; font-size: 13pt; }

.give-coupon .coupon-coupon{width:100%;display:flex;padding:0 20rpx;margin:10rpx 0;position: relative;}
.give-coupon .coupon-coupon .pt_img1{background:url(data:image/svg+xml;base64,PHN2ZyBpZD0i5Zu+5bGCXzEiIGRhdGEtbmFtZT0i5Zu+5bGCIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI3IDEzMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM3M2FmNjA7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7nu7/oibJfMjwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMzkuNSw0Ny43NlY2MS42MmE1LDUsMCwwLDEsMCw5LjgydjMuMzhhNSw1LDAsMCwxLDAsOS44MlY4OGE1LDUsMCwwLDEsMCw5LjgydjMuMzlhNSw1LDAsMCwxLDAsOS44MnYzLjM5YTUsNSwwLDAsMSwwLDkuODJ2My4zOWE1LDUsMCwwLDEsMCw5LjgydjMuMzlhNSw1LDAsMCwxLDAsOS44MnYzLjM4YTUsNSwwLDAsMSwwLDkuODJ2MTMuODdoMjd2LTEzMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zOS41IC00Ny43NikiLz48L3N2Zz4=);background-size: 147%;height:140rpx;border-bottom-left-radius:16rpx;border-top-left-radius:16rpx;width:4%}
.give-coupon .coupon-coupon .pt_img2{background:url(data:image/svg+xml;base64,PHN2ZyBpZD0i5Zu+5bGCXzEiIGRhdGEtbmFtZT0i5Zu+5bGCIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI3IDEzMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM2ZmM1ZmE7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7ok53oibJfMTwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMCwwVjEzLjg2YTUsNSwwLDAsMSw0LjEsNC45MUE1LDUsMCwwLDEsMCwyMy42OHYzLjM5QTUsNSwwLDAsMSw0LjEsMzIsNSw1LDAsMCwxLDAsMzYuODl2My4zOWE1LDUsMCwwLDEsNC4xLDQuOTFBNSw1LDAsMCwxLDAsNTAuMXYzLjM5QTUsNSwwLDAsMSw0LjEsNTguNCw1LDUsMCwwLDEsMCw2My4zMXYzLjM4QTUsNSwwLDAsMSw0LjEsNzEuNiw1LDUsMCwwLDEsMCw3Ni41MVY3OS45YTUsNSwwLDAsMSw0LjEsNC45MUE1LDUsMCwwLDEsMCw4OS43MnYzLjM5QTUsNSwwLDAsMSw0LjEsOTgsNSw1LDAsMCwxLDAsMTAyLjkzdjMuMzlhNSw1LDAsMCwxLDQuMSw0LjkxQTUsNSwwLDAsMSwwLDExNi4xNFYxMzBIMjdWMFoiLz48L3N2Zz4=);background-size: 147%;height:140rpx;border-bottom-left-radius:16rpx;border-top-left-radius:16rpx;width:4%}
.give-coupon .coupon-coupon .pt_left{background: #73af60;height:140rpx;color: #FFF;padding-bottom:20rpx;padding-right:10rpx;width:30%;display:flex;flex-direction:column;align-items:center;justify-content:center}
.give-coupon .coupon-coupon .pt_left.bg2{background:#6fc5fa}
.give-coupon .coupon-coupon .pt_left .f1{font-size:34rpx;text-align:center}
.give-coupon .coupon-coupon .pt_left .t0{padding-right:10rpx;}
.give-coupon .coupon-coupon .pt_left .t1{font-size:46rpx;}
.give-coupon .coupon-coupon .pt_left .t2{padding-left:10rpx}
.give-coupon .coupon-coupon .pt_left .f2{font-size:24rpx;text-align:center;overflow:hidden}
.give-coupon .coupon-coupon .pt_right{background: #fff;width:66%;display:flex;height:140rpx;text-align: left;padding:20rpx 30rpx;border-top-right-radius:16rpx;border-bottom-right-radius:16rpx;position:relative}
.give-coupon .coupon-coupon .pt_right .f1{flex-grow: 1;flex-shrink: 1;}
.give-coupon .coupon-coupon .pt_right .f1 .t1{font-size:36rpx;color:#2c3e50;height:40rpx;line-height: 40rpx;overflow: hidden;}
.give-coupon .coupon-coupon .pt_right .f1 .t2{height:60rpx;line-height:60rpx;font-size:24rpx;color:#727272;}
.give-coupon .coupon-coupon .pt_right .f1 .t2_1{height:40rpx;line-height:40rpx}
.give-coupon .coupon-coupon .pt_right .f1 .t3{font-size:24rpx;color:#2c3e50}
.give-coupon .coupon-coupon .pt_right .f1 .t4{font-size:24rpx;color:#555555}
.give-coupon .coupon-coupon .pt_right .btn{position:absolute;right:30rpx;top:50%;margin-top:-25rpx;border-radius:25rpx;width:140rpx;height:50rpx;line-height:50rpx;background:#07c160;color:#fff;}
.give-coupon .coupon_num{position:absolute;top:50rpx;right:30rpx;font-size:30rpx}

.sharetypecontent{ height:250rpx;width:710rpx;margin:20rpx;display:flex;padding:50rpx;align-items:flex-end;justify-content:center;}
.sharetypecontent .f1{ color:#51c332;width:50%;height:150rpx;display:flex;flex-direction:column;align-items:center;background:#fff;font-size:28rpx;border:0}
.sharetypecontent button::after{border:0}
.sharetypecontent .f1 .img{width:90rpx;height:90rpx}
.sharetypecontent .f2{ color:#51c332;width:50%;display:flex;flex-direction:column;align-items:center}
.sharetypecontent .f2 .img{width:90rpx;height:90rpx}
.sharetypecontent .t1{height:60rpx;line-height:60rpx;color:#666}

.posterDialog{ position:fixed;display: flex;align-items: center;justify-content: center;z-index:9;width:100%;height:100%;background:rgba(0,0,0,0.8);top:var(--window-top);left:0}
.posterDialog .main{ width:80%;margin:60rpx 10% 30rpx 10%;background:#fff;position:relative;border-radius:20rpx}
.posterDialog .close{ position:absolute;padding:20rpx;top:0;right:0}
.posterDialog .close .img{ width:32rpx;height:32rpx;}
.posterDialog .content{ width:100%;padding:70rpx 20rpx 30rpx 20rpx;color:#333;font-size:30rpx;text-align:center}
.posterDialog .content .img{width:540rpx;height:960rpx}

.linkDialog {background:rgba(0,0,0,0.4);z-index:11;}
.linkDialog .main{ width: 90%; position: fixed; top: 50%; left: 50%; margin: 0;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.linkDialog .title {font-weight: bold;margin-bottom: 30rpx;}
.linkDialog .row {display: flex; height:80rpx;line-height: 80rpx; padding: 0 16rpx;}
.linkDialog .row .f1 {width: 40%; text-align: left;}
.linkDialog .row .f2 {width: 60%; height:80rpx;line-height: 80rpx;text-align: right;align-items:center;}
.linkDialog .image{width: 28rpx; height: 28rpx; margin-left: 8rpx;margin-top: 2rpx;}
.linkDialog .copyicon {width: 28rpx; height: 28rpx; margin-left: 8rpx; position: relative; top: 4rpx;}
.layui-imgbox-close{position: absolute;display: block;width:32rpx;height:32rpx;right:-16rpx;top:-16rpx;z-index:10;color:#999;font-size:32rpx;border-radius:50%;background: #fff;}
.layui-imgbox-close image{width:100%;height:100%;}
/* buydialog-xxx  组件公共样式*/
.buydialog-mask{position: fixed; top: 0px; left: 0px; width: 100%; background: rgba(0,0,0,0.5); bottom: 0px;z-index:10;}
.buydialog{ position: fixed; width: 100%; left: 0px; bottom: 0px; background: #fff;z-index:11;border-radius:20rpx 20rpx 0px 0px}
.buydialog .close{ position: absolute; top: 0; right: 0;padding:20rpx;z-index:12}
.buydialog .close .image{ width: 30rpx; height:30rpx; }
.buydialog .title{ width: 94%;position: relative; margin: 0 3%; padding:15rpx 0 0 0; border-bottom:0;}
.buydialog .title .img{width: 160rpx; height: 160rpx; border-radius: 10rpx; border: 0 #e5e5e5 solid;background-color: #fff;flex-shrink: 0;margin-right: 15rpx;}
.buydialog .title .price{ width:100%;font-size: 36rpx;color: #FC4343;overflow: hidden;}
.buydialog .title .price .t1{ font-size:26rpx}
.buydialog .title .price .t2{ font-size:26rpx;text-decoration:line-through;color:#aaa; margin-left: 6rpx;}
.buydialog .title .price .t1-m{margin-left: 10rpx;font-size: 30rpx;}
.buydialog .title .choosename{ width: 100%;font-size: 24rpx;height: 42rpx;line-height:42rpx;color:#888888}
.buydialog .title .stock{ width: 100%;font-size: 24rpx;height: 42rpx;line-height:42rpx;color:#888888}
.buydialog .guigelist{ width: 94%; position: relative; margin: 0 3%; padding:0px 0px 40rpx 0px; border-bottom: 0; }
.buydialog .guigelist .name{ height:70rpx; line-height: 70rpx;}
.buydialog .guigelist .item{ font-size: 30rpx;color: #333;flex-wrap:wrap}
.buydialog .guigelist .item2{ height: auto;min-height:60rpx;line-height:60rpx;margin-bottom:4px;border:0; border-radius:4rpx; padding:0 40rpx;color:#666666; margin-right: 10rpx; font-size:26rpx;background:#F4F4F4}
.buydialog .guigelist .on{color:#FC4343;background:rgba(252,67,67,0.1);font-weight:bold}
.buydialog .buynum{ width: 94%; position: relative; margin: 0 3%; padding:10px 0px 10px 0px; }
.buydialog .addnum {font-size: 30rpx;color: #666;width:auto;display:flex;align-items:center}
.buydialog .addnum .plus {width:65rpx;height:48rpx;background:#F6F8F7;display:flex;align-items:center;justify-content:center}
.buydialog .addnum .minus {width:65rpx;height:48rpx;background:#F6F8F7;display:flex;align-items:center;justify-content:center}
.buydialog .addnum .img{width:24rpx;height:24rpx}
.buydialog .addnum .input{flex:1;width:50rpx;border:0;text-align:center;color:#2B2B2B;font-size:28rpx;margin: 0 15rpx;}
.buydialog .tips-text{display:inline-block;margin-top:20rpx;margin-bottom:10rpx;border-radius:10rpx;font-size:20rpx;height:44rpx;line-height:44rpx;padding:0 20rpx}
.buydialog .op{width:90%;margin:20rpx 5%;border-radius:36rpx;overflow:hidden;display:flex;margin-top:60rpx;}
.buydialog .addcart{flex:1;height:72rpx; line-height: 72rpx; color: #fff; border-radius: 0px; border: none;font-size:28rpx;font-weight:bold}
.buydialog .tobuy{flex:1;height: 72rpx; line-height: 72rpx; color: #fff; border-radius: 0px; border: none;font-size:28rpx;font-weight:bold}
.buydialog .nostock{flex:1;height: 72rpx; line-height: 72rpx; background:#aaa; color: #fff; border-radius: 0px; border: none;}
.glassinfo{width: 94%;margin: 10rpx 3% 0 3%;color: #333;display: flex;justify-content: space-between;align-items: center;padding: 12rpx;background: #f4f4f4;border-radius: 10rpx;font-size: 34rpx;}
.glassinfo .g-title{font-weight: bold;}
.glassinfo image{width: 42rpx;height: 42rpx;padding-top: 10rpx;}
.description{width: 100%;font-size: 24rpx;height: 42rpx;line-height: 42rpx;color: #888888;}
.member{padding: 5rpx 0;width: 100%;}
.member_module{position: relative;border-radius: 8rpx;border: 1rpx solid #fff;overflow: hidden;box-sizing: content-box;}
.member_lable{height: 100%;font-size: 22rpx;color: #fff;background: #fff;padding: 0 15rpx;}
.member_value{padding: 0 15rpx;font-size: 30rpx;color: #fff;}
/*商城加料 css*/
.buydialog .jialiao{ width: 92%; position: relative; margin: 0 4%; padding:0px 0px 0rpx 0px; border-bottom: 0; }
.buydialog .jialiao .name{height: 70rpx;line-height: 70rpx;margin-top: 20rpx;}
.buydialog .jialiao .item{ font-size: 30rpx;flex-wrap: wrap;}

.buydialog .jialiao .jlitem{width: 48%;line-height:60rpx;margin-bottom:20rpx; border-radius:20rpx; color:#666666;  font-size:26rpx;border: 1px solid #eee;display: flex;padding: 10rpx 10rpx;align-items: center;position: relative;}
.buydialog .jialiao .jlitem:nth-child(2n){margin-left: 3%;}
.buydialog .jialiao .jlitem .addsub{width: 45rpx;height: 45rpx;border-radius: 50%;display:flex;align-items:center;justify-content:center;line-height: 45rpx;}
.buydialog .jialiao .jlitem .img{width:24rpx;height:24rpx}
.buydialog .jialiao .jlitem  .text{width: 65%;text-align: center;word-break: keep-all}
.buydialog .jialiao .jlitem .jlnum{width: 35rpx;height: 35rpx;position: absolute;top: -12rpx;right: -10rpx;border-radius: 10rpx 10rpx 10rpx 0;color: #fff;text-align: center;line-height: 35rpx;}