<!DOCTYPE html><!--custom_file(shop_stock_manage)-->
<html>
<head>
  <meta charset="utf-8">
  <title>库存管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header"><i class="fa fa-list"></i> 库存管理</div>
					
          <div class="layui-card-body" pad15>
			<div class="layui-col-md6" style="padding-bottom:10px">
				<a class="layui-btn layuiadmin-btn-list" href="javascript:void(0)" onclick="openmax('{:url('add')}')">录入库存</a>
				<button class="layui-btn layui-btn-primary layuiadmin-btn-list" data-form-export="{:url('index')}">导出EXCEL</button>
			</div>
			<div class="layui-form layui-form-search layui-col-md6">
<!--				<div class="layui-inline">-->
<!--					<label class="layui-form-label">库存总金额：</label>-->
<!--					<div class="layui-input-inline" style="line-height: 38px" id="totalmoney"></div>-->
<!--				</div>-->
				<div class="layui-inline layuiadmin-input-useradmin">
					<label class="layui-form-label">商品ID</label>
					<div class="layui-input-inline">
						<input type="text" name="proid" autocomplete="off" class="layui-input" value="{$Request.param.proid}">
					</div>
				</div>
				<div class="layui-inline layuiadmin-input-useradmin">
					<label class="layui-form-label">商品名称</label>
					<div class="layui-input-inline">
						<input type="text" name="proname" autocomplete="off" class="layui-input" value="">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</button>
				</div>
			</div>
			<div class="layui-col-md12">
				<table id="tabledata" lay-filter="tabledata"></table>
			</div>
          </div>
        </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
	layui.laydate.render({ 
    elem: '#ctime',
    trigger: 'click',
    type:'date',
    range: '~' //或 range: '~' 来自定义分割字符
  });
  var table = layui.table;
  var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
			{type:"checkbox"},
      //{field: 'id', title: 'ID',sort:true,width:80},
      {field: 'proid', title: '商品ID',width:80},
      {field: 'name', title: '商品信息',templet:'<div>{{# if(d.name){ }}<img src="{{d.pic}}" style="width:50px"> {{d.name}}{{# } }}</div>'},
      {field: 'ggname', title: '商品规格',templet:'<div>{{# if(d.ggname){ }}{{d.ggname}}{{# } }}</div>'},
      {field: 'stock', title: '总库存',width:100},
	  {field: 'cost_price', title: '成本价',width:100},
	  {field: 'cost_price_total', title: '库存总金额',width:120},
    ]] ,done:function(res, curr, count){
		  if(curr == 1) {
			  $('#totalmoney').html('￥' + res.total_money);
		  }
	  }
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	})

	</script>
	{include file="public/copyright"/}
</body>
</html>