<!DOCTYPE html><!--custom_file(hotel)-->
<html>
<head>
  <meta charset="utf-8">
  <title>订单管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
	<style>
	.orderdetail{background:#f7f7f8;width: 94%;box-sizing:border-box;margin:0 10px;display:flex;flex-direction:column;}
	.orderdetail *{box-sizing:border-box;}
	.address{ display:flex;align-items:center;width: 100%; padding:10px 0; background: #FFF;color:#222}
	.address .img{width:45px;padding:0 10px}
	.address img{width:25px; height:25px;}
	.address .info{flex:1;display:flex;flex-direction:column;}
	.address .info .t1{ font-weight:bold}

	.express { width:100%;background: #fff; padding:10px;display:flex;align-items:center;margin-top:5px;color:#333}
	.express .f1{ width:40px;font-size:20px;color:#999}
	.express .f2{display:flex;flex-direction:column;flex:auto}

	.product{width:100%; padding:5px;background: #FFF;margin-top:5px;}
	.product .content{display:flex;position:relative;width: 100%; padding:5px 0px;border-bottom: 1px #e5e5e5 dashed;position:relative;}
	.product .content:last-child{ border-bottom: 0; }
	.product .content img{ width: 70px; height: 70px;}
	.product .content .detail{display:flex;flex-direction:column;margin-left:7px;flex:1}
	.product .content .detail .t1{height: 30px;line-height: 15px;color: #000;}
	.product .content .detail .t2{height: 23px;line-height: 23px;color: #999;overflow: hidden;font-size:13px;}
	.product .content .detail .t3{display:flex;height:15px;line-height:15px;color: #ff4246;}
	.product .content .detail .x1{ flex:1}
	.product .content .detail .x2{ width:50px;font-size:16px;text-align:right;margin-right:4px}
	.product .content .comment{position:absolute;top:32px;right:5px;border: 1px #ffc702 solid; border-radius:5px;background:#fff; color: #ffc702;  padding: 0 5px; height: 23px; line-height: 23px;}

	.orderinfo{ width:100%;margin-top:5px;padding: 5px;background: #FFF;}
	.orderinfo .item{display:flex;width:100%;padding:10px 0;border-bottom:1px dashed #ededed;overflow:hidden}
	.orderinfo .item:last-child{ border-bottom: 0;}
	.orderinfo .item .t1{width:100px;flex-shrink:0}
	.orderinfo .item .t2{flex:1;text-align:right;}
	.orderinfo .item .red{color:red}

	.logistics{ width: 94%;  background: #fff; padding: 0 10px;display:flex;flex-direction:column;color: #979797;}
	.logistics .on{color: #23aa5e;}
	.logistics .item{display:flex;width: 96%;  margin: 0 2%;/*border-left: 1px #dadada solid;*/padding:0 0}
	.logistics .item .f1{ width:30px;position:relative}
	/*.logistics img{width: 15px; height: 15px; position: absolute; left: -8px; top:11px;}*/
	.logistics .item .f1 img{ width: 15px; height: 100%;}

	.logistics .item .f2{display:flex;flex-direction:column;flex:auto;padding:5px 0}
	.logistics .item .f2 .t1{font-size: 15px;}
	.logistics .item .f2 .t1{font-size: 13px;}
	.layui-table-view .layui-table td .table-imgbox{width:60px;height:60px;float:left;display: flex;align-items: center;justify-content: center}
	.layui-table-view .layui-table td .table-imgbox img{max-width:60px;max-height:60px;float:left;}
	.money{ color:red;font-weight:bold}
	</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">
						<div class="layui-tab layui-tab-brief">
							<ul class="layui-tab-title">
								<li {if !input('?param.status') || input('param.status')===''}class="layui-this"{/if} onclick="location.href='{:url('index')}/showtype/{$Request.param.showtype}'">全部						
									(<span class="money" id="totalmoney">￥</span>)</li>
								<li {if input('param.status')==='0'}class="layui-this"{/if} onclick="location.href='{:url('index')}/showtype/{$Request.param.showtype}/status/0'">未申请(<span  class="money" id="money1"></span>)</li>
								<li {if input('param.status')=='1'}class="layui-this"{/if} 
								onclick="location.href='{:url('index')}/showtype/{$Request.param.showtype}/status/1'">待审核(<span  class="money" id="money2"></span>)</li>
								<li {if input('param.status')=='2'}class="layui-this"{/if} onclick="location.href='{:url('index')}/showtype/{$Request.param.showtype}/status/2'">审核通过(<span  class="money" id="money3"></span>)</li>
								<li {if input('param.status')=='4'}class="layui-this"{/if} onclick="location.href='{:url('index')}/showtype/{$Request.param.showtype}/status/4'">驳回(<span  class="money" id="money4"></span>)</li>
				
							</ul>
						</div> 
						{if input('param.isopen')==1}<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>{/if}
          </div>
          <div class="layui-card-body" pad15>
						<div class="layui-col-md12">
							<div class="layui-col-md3" style="padding-bottom:10px">
								<button class="layui-btn layui-btn-primary layuiadmin-btn-list" data-form-export="{:url('excel')}">导出</button>
							</div>
							<div class="layui-col-md9 layui-form layui-form-search">
								{if input('param.showtype')=='2' || input('param.showtype')=='all'}
								<div class="layui-inline" style="text-align:left;width: 130px">
									<div class="layui-input-block" style="margin-left: 0">
										<select name="hotelid" lay-search>
											<option value="">请选择{$text['酒店']}</option>
											{foreach $hotellist as $k=>$v}
											<option value="{$v.id}">{$v.name}</option>
											{/foreach}
										</select>
									</div>
								</div>
								{/if}
								<div class="layui-inline layuiadmin-input-useradmin" style="display:none">
									<label class="layui-form-label">{:t('会员')}ID</label>
									<div class="layui-input-inline">
										<input type="text" name="mid" value="{$Request.param.mid}" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">申请时间</label>
									<div class="layui-input-inline" style="width:180px">
										<input type="text" name="apply_time" id="apply_time" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-inline layuiadmin-input-useradmin">
									<label class="layui-form-label">订单号</label>
									<div class="layui-input-inline">
										<input type="text" name="ordernum" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">手机号</label>
									<div class="layui-input-inline">
										<input type="text" name="tel" autocomplete="off" class="layui-input">
									</div>
								</div>
							
								<div class="layui-inline">
									<button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
										<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="layui-col-md12">
							<table id="tabledata" lay-filter="tabledata"></table>
						</div>
          </div>
        </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
  var table = layui.table;
	var datawhere = {};
	{if input('?param.status') && input('param.status')!==''}
	datawhere['status'] = "{$Request.param.status}";
	{/if}
	layui.use('flow', function(){
		var flow = layui.flow;
		flow.lazyimg();
	});
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
		//,size:'sm'
    ,cols: [[ //表头
			//{type:"checkbox"},
      {field: 'id', title: 'ID',  sort: true,width:60},
			{if input('param.showtype')==2}
      {field: 'hotelname', title: '所属{$text["酒店"]}',width:160},
			{/if}
	  {field: 'name', title: '{$text["酒店"]}信息',templet:function(d){
		var html='';
		html+= '<div>'+d.hotelname+'</div>';
		html+= '<div>'+d.title+'/'+d.totalnum+"{$text['间']}"+'</div>';
		return html;
      }},
	  {field: 'ordernum', title: '订单号',sort: true,width:160},
	  {field: 'refund_type', title: '类型',width:150,templet:function(d){ return  '退押金' }},
	  {field: 'refund_money', title: '退款金额',width:150},
	  
    {field: 'status', title: '状态',templet:function(d){
			var html = '';
			if(d.refund_status==0) html+='<div style="color:#999">未申请</span>';
			if(d.refund_status == 1) html+='<div style="color:red">退款待审核</div>';
			if(d.refund_status == 2) html+='<div style="color:#008000">已退款</div>';
			if(d.refund_status == -1) html+='<div style="color:red">退款驳回</div>';
			return html;
		}},
      //{field: 'createtime', title: '下单时间',sort: true,templet:function(d){ return date('Y-m-d H:i',d.createtime)},width:150},
      {field: 'operation', title: '操作',templet:function(d){
				var html = '';
				html += '<button class="table-btn" onclick="openmax(\'{:url('HotelOrder/index')}/isopen/1/showtype/all/yajin_orderid/'+d.id+'\')">关联订单</button>';
				html += '<button class="table-btn" onclick="showdetail('+d.id+')">详情</button>';
				if(d.status==0 || d.status==1 || d.status==2){
				}
				if(d.refund_status==1){ //退款待审核
					html += '<button class="table-btn" onclick="doOperation('+d.id+',\'退款审核\')">退款审核</button>';
				}

			  html += '<button class="table-btn" onclick="datadel('+d.id+')">删除</button><br/>';
			  return html;
      }}
    ]],
		// 监听表格的数据更新
		done: function(res, curr, count){
			if(document.documentElement.scrollTop >= 300){
				document.documentElement.scrollTop = document.documentElement.scrollTop-1
			}else{
				document.documentElement.scrollTop = 5
				if(document.documentElement.scrollTop>0){
				}else{
					$(".layui-table-body .table-imgbox").each(function(){
						 var src = $(this).find('img').attr('lay-src');
						 $(this).find('img').attr('src',src)
					})
				}
			}
			$("#totalmoney").text('￥'+res.arr.totalmoney);
			$("#money1").text('￥'+res.arr.money1);
			$("#money2").text('￥'+res.arr.money2);
			$("#money3").text('￥'+res.arr.money3);
			$("#money4").text('￥'+res.arr.money4);

		}
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//日期范围选择
	layui.laydate.render({ 
		elem: '#apply_time',
		trigger: 'click',
		range: '~' //或 range: '~' 来自定义分割字符
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	})
	//删除
	function datadel(id){
		layer.confirm('删除后数据不可恢复！确定要删除吗？删除后无法恢复！',{icon: 7, title:'操作确认'}, function(index){
			//do something
			layer.close(index);
			var index = layer.load();
			$.post("{:url('del')}",{id:id},function(data){
				layer.close(index);
				dialog(data.msg,data.status);
				tableIns.reload()
			})
		});
	}
	var detailLayer;
	function showdetail(orderid){
		var index = layer.load();
		$.post("{:url('getdetail')}",{orderid:orderid},function(data){
			layer.close(index);
			var html = '';
			//var data = { //数据
			//	"title":"Layui常用模块",
			//	"list":[{"modname":"弹层","alias":"layer","site":"layer.layui.com"},{"modname":"表单","alias":"form"}]
			//}
			layui.laytpl(detailtpl.innerHTML).render(data, function(html){
				//view.innerHTML = html;
				var detailBtn = [];
				detailBtn.push('退款审核');
				detailLayer = layer.open({type:1,title:'订单详情',area:'500px',content:html,resize:true,shadeClose:true,maxmin:true,btn:detailBtn,
					yes:function(){
						return btnOperation(detailBtn[0],data);
					},
					btn2:function(){
						return btnOperation(detailBtn[1],data);
					},
					btn3:function(){
						return btnOperation(detailBtn[2],data);
					},
					btn4:function(){
						return btnOperation(detailBtn[3],data);
					},
					btn5:function(){
						return btnOperation(detailBtn[4],data);
					}
				});
			});
			//layer.open({type:1,area:['600px','600px'],title:false,shadeClose:true,btn: ['发货', '退款审核', '设置备注']});
		})
	}
	function doOperation(orderid,type){
		$.post("{:url('getdetail')}",{orderid:orderid},function(data){
			btnOperation(type,data);
		})
	}
	function btnOperation(type,data){
		var orderid = data.order.id;
		if(type=='退款审核'){
			layui.laytpl(refundCheckTpl.innerHTML).render(data, function(html){
				var refundCheckLayer = layer.open({type:1,area:['400px'],title:false,content:html,shadeClose:true,btn: ['同意并退款', '驳回退款申请'],
					yes:function(){
						var index = layer.load();
						$.post("{:url('refundCheck')}",{orderid:orderid,st:1,remark:$('textarea[name=refund_checkremark]').val()},function(res){
							layer.close(index);
							dialog(res.msg,res.status);
							layer.close(refundCheckLayer);
							layer.close(detailLayer);
							tableIns.reload()
						})
					},
					btn2:function(){
						var index = layer.load();
						$.post("{:url('refundCheck')}",{orderid:orderid,st:2,remark:$('textarea[name=refund_checkremark]').val()},function(res){
							layer.close(index);
							dialog(res.msg,res.status);
							layer.close(refundCheckLayer);
							layer.close(detailLayer);
							tableIns.reload()
						})
					}
				})
			})
		}else if(type == '设置备注'){
			layui.laytpl(remarktpl.innerHTML).render({remark:data.order.remark}, function(html){
				var remarkLayer = layer.open({type:1,title:false,content:html,shadeClose:true,btn: ['确定', '取消'],
					yes:function(){
						var index = layer.load();
						$.post("{:url('setremark')}",{orderid:orderid,content:$('#remarkcontent').val()},function(res){
							layer.close(index);
							dialog(res.msg,res.status);
							layer.close(remarkLayer);
							layer.close(detailLayer);
						})
					}
				})
			});
		}
		return false
	}
	</script>
	<script id="refundCheckTpl" type="text/html">
	<div class="orderdetail">
	<div class="orderinfo">
		<div class="item">
			<span class="t1">类型</span>
			<span class="t2 red">退押金</span>
		</div>
		<div class="item">
			<span class="t1">退款金额</span>
			<span class="t2 red">￥{{d.order.refund_money}}</span>
		</div>
	
		<div class="item">
			<span class="t1">申请退款时间</span>
			<span class="t2">{{date('Y-m-d H:i:s',d.order.apply_time)}}</span>
		</div>
		
		<div class="item">
			<span class="t1">审核备注</span>
			<span class="t2"><textarea name="refund_checkremark" class="layui-textarea">{{d.order.refund_checkremark ? d.order.refund_checkremark : ''}}</textarea></span>
		</div>
	</div>
	</div>
	</script>

	<script id="remarktpl" type="text/html">
	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">
		<label class="layui-form-label" style="width:40px">备注</label>
		<div class="layui-input-inline" style="width:180px">
			<input type="text" id="remarkcontent" class="layui-input" value="{{d.remark?d.remark : ''}}">
		</div>
	</div>
	</script>

	<script id="detailtpl" type="text/html">
	<div class="orderdetail">
	
		<div class="product">
			{{#  layui.each(d.oglist, function(index, item){ }}
			<div class="content">
				<div>
					<img src="{{item.pic}}"/>
				</div>
				<div class="detail">
					<span class="t1">{{item.name}}</span>
					<span class="t2">{{item.ggname}}</span>
					<div class="t3"><span class="x1 flex1">￥{{item.sell_price}}</span><span class="x2">×{{item.num}}</span></div>
				</div>
			</div>
			{{# }); }}
		</div>
		
		<div class="orderinfo">
			<div class="item">
				<span class="t1">下单人</span>
				<span class="t2"><img src="{{d.member.headimg}}" style="width:40px"/> {{d.member.nickname}} {{# if(d.member.realname){ }}[{{d.member.realname}} {{d.member.tel}}]{{#} }}</span>
			</div>
			<div class="item">
				<span class="t1">{:t('会员')}ID</span>
				<span class="t2">{{d.member.id}}</span>
			</div>
		</div>
		<div class="orderinfo">
			<div class="item">
				<span class="t1">类型</span>
				<span class="t2">退押金</span>
			</div>
			<div class="item">
				<span class="t1">退款编号</span>
				<span class="t2">{{d.order.refund_ordernum}}</span>
			</div>
			<div class="item">
				<span class="t1">退款金额</span>
				<span class="t2 red">¥{{d.order.refund_money}}</span>
			</div>
			<div class="item">
				<span class="t1">申请时间</span>
				<span class="t2">{{date('Y-m-d H:i:s',d.order.apply_time)}}</span>
			</div>
			<div class="item">
				<span class="t1">退款状态</span>
				{{#  if(d.order.refund_status==0){ }}
				<span class="t2 red">未申请</span>
				{{# } }}
				{{#  if(d.order.refund_status==1){ }}
				<span class="t2 red">审核中</span>
				{{# } }}
				{{#  if(d.order.refund_status==2){ }}
				<span class="t2 red">已退款</span>
				{{# } }}
				{{#  if(d.order.refund_status==-1){ }}
				<span class="t2 red">已驳回</span>
				{{# } }}
			</div>
	
			{{#  if(d.order.refund_checkremark){ }}
			<div class="item">
				<span class="t1">审核备注</span>
				<span class="t2 red">{{d.order.refund_checkremark}}</span>
			</div>
			{{# } }}
		</div>
		<div class="orderinfo">
			<div class="item">
				<span class="t1">订单编号</span>
				<span class="t2">{{d.orderdetail.ordernum}}</span>
			</div>
			<div class="item">
				<span class="t1">下单时间</span>
				<span class="t2">{{date('Y-m-d H:i:s',d.orderdetail.createtime)}}</span>
			</div>
			{{#  if(d.orderdetail.status>0 && d.orderdetail.paytime){ }}
			<div class="item">
				<span class="t1">支付时间</span>
				<span class="t2">{{date('Y-m-d H:i:s',d.orderdetail.paytime)}}</span>
			</div>
			<div class="item">
				<span class="t1">支付方式</span>
				<span class="t2">{{d.orderdetail.paytype}}</span>
			</div>
			{{# } }}
		
		</div>
		<div class="orderinfo">
			<div class="item">
				<span class="t1">订单金额</span>
				<span class="t2 red">¥{{d.orderdetail.totalprice}}</span>
			</div>

			<div class="item">
				<span class="t1">押金</span>
				<span class="t2">{{d.orderdetail.yajin_money}}</span>
			</div>

			<div class="item">
				<span class="t1">订单状态</span>
				{{#  if(d.orderdetail.status==0){ }}
				<span class="t2" style="color:#ff8758">未付款</span>
				{{# } }}
				{{#  if(d.orderdetail.status==1 ){ }}
				<span class="t2" style="color:#008000">待确认</span>
				{{# } }}
				{{#  if(d.orderdetail.status==2){ }}
				<span class="t2" style="color:#008000">待入住</span>
				{{# } }}
				{{#  if(d.orderdetail.status==3){ }}
				<span class="t2" style="color:#ff4246">已到店</span>
				{{# } }}
				{{#  if(d.orderdetail.status==4){ }}
				<span class="t2" style="color:#999">已离店</span>
				{{# } }}
				{{#  if(d.orderdetail.status==5){ }}
				<span class="t2" style="color:#999">已完成</span>
				{{# } }}
				{{#  if(d.orderdetail.status==-1){ }}
				<span class="t2" style="color:#bbb">已关闭</span>
				{{# } }}
			</div>
			
			{{#  if(d.orderdetail.refund_status>0){ }}
			<div class="item">
				<span class="t1">退款状态</span>
				{{#  if(d.orderdetail.refund_status==1){ }}
				<span class="t2 red">审核中,¥{{d.orderdetail.refund_money}}</span>
				{{# } }}
				{{#  if(d.orderdetail.refund_status==2){ }}
				<span class="t2 red">已退款,¥{{d.orderdetail.refund_money}}</span>
				{{# } }}
				{{#  if(d.orderdetail.refund_status==3){ }}
				<span class="t2 red">已驳回,¥{{d.orderdetail.refund_money}}</span>
				{{# } }}
			</div>
			{{# } }}
		

		</div>
	</div>
	</script>
	{include file="public/copyright"/}
</body>
</html>