html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0;font-size:2em}mark{color:#000;background:#ff0}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}legend{padding:0;border:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-spacing:0;border-collapse:collapse}td,th{padding:0}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

.flex {display: -webkit-box;display: -webkit-flex;display: flex;}
.flex1 {flex-grow: 1;flex-shrink: 1;}
.flex-row {display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-orient: horizontal;-webkit-flex-direction: row;flex-direction: row;}
.flex-col{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-orient: vertical;-webkit-flex-direction: column;flex-direction: column;}
.flex-x-center{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.flex-y-center{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;-ms-grid-row-align: center;align-items: center;}
.flex-y-bottom{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: end;-webkit-align-items: flex-end;-ms-flex-align: end;-ms-grid-row-align: flex-end;align-items: flex-end;}

*{box-sizing: border-box;}
ul,li,p{list-style: none;margin: 0;padding: 0;}
a:hover, a:visited, a:active, a:focus {text-decoration: none;outline: 0;}
a{background-color: transparent;text-decoration: none;}

.toptab{width:100%;z-index: 1000; position: fixed;box-shadow: 0 4px 4px 0 rgba(0,0,0,.04);height:80px;background-color:#151C29;font-size:16px;display:flex;color:#fff}
.toptab .content{width: 1200px;margin: 0 auto;height:80px;line-height:80px;display:flex;align-items: center;}
.toptab .logo{color: #fff;font-size: 28px;display:flex;align-items: center;width: 28%;}
.toptab .logo img{width:44px;height:44px;margin-right:10px}
.toptab .title{flex: 1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.toptab .item{flex:1;display: flex;justify-content:flex-end;}
.toptab .item a{color:#fff;margin:0 4%;white-space: nowrap;}
.toptab .line{margin-left:20px;border-left: 1px solid #ccc;height: 20px;display: inline-block;padding-left: 30px;vertical-align: middle;}
.toptab .zixun{cursor:pointer;width:88px;height:32px;border-radius:2px;line-height:32px;text-align:center;font-size:13px;color:#fff;background: linear-gradient(90deg, #358BFF 0%, #36A4FF 100%);}
.toptab .login{cursor:pointer;margin-left:16px;width:88px;height:32px;border-radius:2px;line-height:32px;text-align:center;font-size:13px;color:#fff;background: linear-gradient(90deg, #FF8B35 0%, #FFA436 100%);}

.bannerbox{position: relative;height: 520px;overflow: hidden;}
.bannerbox .banner1{width: 100%;height: 520px;background: url(../img/banner-1.jpg) top center no-repeat;background-size:auto 100%;padding-top: 190px;box-sizing: border-box;}
.bannerbox .banner2{width: 100%;height: 520px;background: url(../img/banner-2.jpg) top center no-repeat;background-size:auto 100%;padding-top: 190px;box-sizing: border-box;}
.bannerbox .banner3{width: 100%;height: 520px;background: url(../img/banner-3.jpg) top center no-repeat;background-size:auto 100%;padding-top: 190px;box-sizing: border-box;}
.bannerbox .main{width: 1200px;margin: 0 auto;}
.bannerbox .prev{width: 56px;height: 56px;position: absolute;top: 0;bottom: 0;left: 20px;margin: auto;border-radius: 50%;cursor: pointer;opacity: 0;background-color: rgba(255,255,255,0.1);}
.bannerbox .prev img{display: block;margin: auto;position: absolute;left: 20px;top: 0;bottom: 0;}
.bannerbox .next{width: 56px;height: 56px;position: absolute;top: 0;bottom: 0;right: 20px;margin: auto;border-radius: 50%;cursor: pointer;opacity: 0;background-color: rgba(255,255,255,0.1);}
.bannerbox .next img{display: block;margin: auto;position: absolute;left: 24px;top: 0;bottom: 0;transform: rotate(180deg);}
/*.bannerbox .next{display: block;position: absolute;top: 0;bottom: 0;right: 20px;margin: auto;border-radius: 50%;cursor: pointer;opacity: 0;}
.bannerbox .prev{display: block;position: absolute;top: 0;bottom: 0;left: 20px;margin: auto;border-radius: 50%;cursor: pointer;opacity: 0;transform: rotate(180deg);}*/
.bannerbox:hover .prev{opacity: 1}
.bannerbox:hover .next{opacity: 1}
.bannerhd{position: absolute;bottom:80px;left: 0;width: 100%;}
.bannerhd ul{width: 100%;text-align: center;}
.bannerhd li{width:8px;height: 8px;display: inline-block;background-color: rgba(255,255,255,0.2);border-radius:4px;margin-right:4px;cursor:pointer}
.bannerhd .on{background-color: rgba(255,255,255,0.8);width:32px}
.banner1_div1{font-size: 36px;line-height: 50px;color: #fff;font-weight: 700;}
.banner1_div2{margin-top: 18px;font-size: 18px;line-height:30px;color: #fff;}

.bannertip{width:1200px;height:120px;background:#fff;position:relative;margin:0 auto;margin-top:-60px;box-shadow: 0px 3px 9px 0px rgba(33, 58, 86, 0.1);display:flex;align-items:center;justify-content:center}
.bannertip .item{flex:1;display:flex;align-items:center;justify-content:center}
.bannertip .item img{width:56px;height:56px}
.bannertip .item .right{display:flex;flex-direction:column;margin-left:10px}
.bannertip .item .right .t1{color:#191C3D;font-size:16px;height:30px;line-height:30px}
.bannertip .item .right .t2{color:#191C3D;opacity: 0.5;font-size:14px;}

.contentbox{width:100%;background: linear-gradient(0deg, #F6FAFF 0%, #FFFFFF 100%);padding-bottom:60px}
.contentbox .content{width:1200px;margin:0 auto;}
.contentbox .content .title{color:#000;font-size:32px;font-weight:bold;text-align:center;margin-top:60px}
.contentbox .content .con1{width:100%;margin-top:60px;display:flex;justify-content: space-between;}
.contentbox .content .con1 .item{width:285px;background:#fff;box-shadow: 0px 2px 8px 0px rgba(33, 58, 86, 0.08);}
.contentbox .content .con1 .item .ti{height:60px;line-height:60px;margin-left:20px;display:flex;align-items:center}
.contentbox .content .con1 .item .ti .t1{width: 6px;height: 18px;background: #2196F3}
.contentbox .content .con1 .item .ti .t2{color:#000000;font-size:16px;margin-left:10px}
.contentbox .content .con1 .item .co{display:flex;flex-wrap: wrap;padding:10px 20px 20px 20px}
.contentbox .content .con1 .item .co .it{width:50%;display:flex;flex-direction:column;align-items:center;padding-bottom:20px}
.contentbox .content .con1 .item .co .it .t1{width:44px;height:44px}
.contentbox .content .con1 .item .co .it .t2{font-size:14px;color:#444444;height:30px;line-height:30px}

.contentbox .content .con2{width:100%;margin-top:30px;display:flex;justify-content: space-between;}
.contentbox .content .con2 .item{width:100%;background:#fff;box-shadow: 0px 2px 8px 0px rgba(33, 58, 86, 0.08);}
.contentbox .content .con2 .item .ti{height:60px;line-height:60px;margin-left:20px;display:flex;align-items:center}
.contentbox .content .con2 .item .ti .t1{width: 6px;height: 18px;background: #2196F3}
.contentbox .content .con2 .item .ti .t2{color:#000000;font-size:16px;margin-left:10px}
.contentbox .content .con2 .item .co{display:flex;flex-wrap: wrap;padding:10px 20px 20px 20px}
.contentbox .content .con2 .item .co .it{padding:0 20px;display:flex;flex-direction:column;align-items:center;padding-bottom:20px;color:#444444;font-size:14px}


.contentbox2{width:100%;background:url('/static/index/img/img2.png');background-size:100% auto;padding-bottom:40px}
.contentbox2 .content{width:1200px;margin:0 auto;}
.contentbox2 .content .title{color:#000;font-size:32px;font-weight:bold;text-align:center;padding-top:60px}
.contentbox2 .content .desc{color:#666;font-size:16px;text-align:center;height:30px;line-height:30px;}
.contentbox2 .content .con1{width:100%;margin-top:60px;display:flex;flex-direction:column;justify-content: space-between;}
.contentbox2 .content .con1 .ti{width:100%;height:40px;padding:0 40px;border-bottom:1px solid #E5EAF1;display:flex;justify-content: space-between;}
.contentbox2 .content .con1 .ti .item{color:#191C3D;font-size:18px;cursor:pointer}
.contentbox2 .content .con1 .ti .item.on{color:#2468F2;border-bottom:2px solid #2468F2}
.contentbox2 .content .con1 .co{display:flex;padding:10px 20px 20px 60px}
.contentbox2 .content .con1 .co .f1{display:flex;flex-direction:column;margin-top:60px;flex:1}
.contentbox2 .content .con1 .co .f1 .t1{color:#1F2028;font-size:36px;font-weight:bold;height:60px;line-height:60px;}
.contentbox2 .content .con1 .co .f1 .t2{color:#90919B;font-size:14px;line-height:24px;padding:20px 0}
.contentbox2 .content .con1 .co .f1 .t3{display:flex;flex-wrap: wrap;margin-top:30px}
.contentbox2 .content .con1 .co .f1 .t3 .btn1{cursor:pointer;border: 1px solid #AFB3C4;border-radius: 4px;width:120px;height:40px;line-height:40px;color:#AFB3C4;font-size:16px;display:flex;align-items:center;justify-content:center;margin-right:20px;margin-bottom:15px}
.contentbox2 .content .con1 .co .f1 .t3 .btn1 img{width:20px;height:20px;}
.contentbox2 .content .con1 .co .f1 .t3 .btn1.on{color:#0161FF}
.contentbox2 .content .con1 .co .f1 .t4{margin-top:50px;width:140px;height: 160px;background: linear-gradient(0deg, #EDF1F9 0%, #FFFFFF 100%);color:#90919A;font-size:14px;display:flex;flex-direction:column;align-items:center;padding:10px}
.contentbox2 .content .con1 .co .f1 .t4 img{width:120px;height:120px;margin-bottom:5px}
.contentbox2 .content .con1 .co .f2{width:282px;height:546px;margin-top:20px}


.contentbox3{width:100%;background-color:#F1F1F5;}
.contentbox3 .content{width:1200px;margin:0 auto;}
.contentbox3 .content .title{color:#000;font-size:32px;font-weight:bold;text-align:center;padding-top:60px}
.contentbox3 .content .desc{color:#666;font-size:16px;text-align:center;height:30px;line-height:30px;}
.contentbox3 .content .con1{width:100%;margin-top:60px;display:flex;justify-content: space-between;}
.contentbox3 .content .con1 .left{width:50%;padding-top:100px}
.contentbox3 .content .con1 .right{width:50%;}
.contentbox3 .content .con1 .right img{width:690px;height:580px;display:table}
.contentbox3 .content .con1 .left .item{flex:1;display:flex;align-items:center;margin-bottom:40px}
.contentbox3 .content .con1 .left .item img{width:48px;height:48px;}
.contentbox3 .content .con1 .left .item .f2{display:flex;flex-direction:column;margin-left:20px}
.contentbox3 .content .con1 .left .item .f2 .t1{color:#656565;font-size:20px;height:30px;line-height:30px}
.contentbox3 .content .con1 .left .item .f2 .t2{color:#9F9F9F;font-size:16px;}
.contentbox3 .content .con1 .left .item2{display:flex;}
.contentbox3 .content .con1 .left .item2 .btn1{cursor:pointer;width: 126px;height: 36px;line-height:36px;text-align:center;background: linear-gradient(90deg, #358BFF 0%, #36A4FF 100%);border-radius: 4px;color:#fff;font-size:16px;margin-right:30px}
.contentbox3 .content .con1 .left .item2 .btn2{cursor:pointer;width: 126px;height: 36px;line-height:36px;text-align:center;border: 1px solid #2468F2;border-radius: 4px;color:#2468F2;font-size:16px;margin-right:30px}


.contentbox4{width:100%;background-color:#fff;}
.contentbox4 .content{width:1200px;margin:0 auto;}
.contentbox4 .content .title{color:#000;font-size:32px;font-weight:bold;text-align:center;padding-top:60px}
.contentbox4 .content .desc{color:#666;font-size:16px;text-align:center;height:30px;line-height:30px;}
.contentbox4 .content .con1{width:100%;margin-top:60px;display:flex;justify-content: space-between;margin-bottom:50px}
.contentbox4 .content .con1 .left{width:50%;padding-top:20px;padding-left:50px}
.contentbox4 .content .con1 .right{width:50%;}
.contentbox4 .content .con1 .right img{width:625px;height:380px;display:table}
.contentbox4 .content .con1 .left .item{flex:1;display:flex;align-items:center;margin-bottom:40px}
.contentbox4 .content .con1 .left .item img{width:48px;height:48px;}
.contentbox4 .content .con1 .left .item .f2{display:flex;flex-direction:column;margin-left:20px}
.contentbox4 .content .con1 .left .item .f2 .t1{color:#656565;font-size:20px;height:30px;line-height:30px}
.contentbox4 .content .con1 .left .item .f2 .t2{color:#9F9F9F;font-size:16px;}
.contentbox4 .content .con1 .left .item2{display:flex;}
.contentbox4 .content .con1 .left .item2 .btn1{cursor:pointer;width: 126px;height: 36px;line-height:36px;text-align:center;background: linear-gradient(90deg, #358BFF 0%, #36A4FF 100%);border-radius: 4px;color:#fff;font-size:16px;margin-right:30px}
.contentbox4 .content .con1 .left .item2 .btn2{cursor:pointer;width: 126px;height: 36px;line-height:36px;text-align:center;border: 1px solid #2468F2;border-radius: 4px;color:#2468F2;font-size:16px;margin-right:30px}

.bottomtip{width:100%;height:120px;background:url('/static/index/img/1.png');display:flex;align-items:center;justify-content:center}
.bottomtip .f1{font-size:28px;color:#fff;margin-right:50px}
.bottomtip .btn1{cursor:pointer;width: 120px;height: 40px;line-height:40px;text-align:center;background:#F89408;border-radius: 4px;color:#fff;font-size:16px;margin-right:30px}

.bottombox{width:100%;background:#151C29;padding:30px 0}
.bottombox .f1{display:flex;align-items:center;justify-content:center}
.bottombox .f1 a{color:#788BA6;font-size:14px;padding:0 20px;text-align:center;border-right:2px solid #788BA6}
.bottombox .f1 a:last-child{border-right:0}
.bottombox .f2{display:flex;align-items:center;justify-content:center;color:#6B798E;font-size:12px;margin-top:20px}
