<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{$cfg['title']} - {$title}</title>
    {include file="public/css"/}
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card layui-col-md12">
                <div class="layui-card-header">
                    <i class="fa fa-cog"></i> {$title}
                </div>
                <div class="layui-card-body" pad15>
                    <p>欢迎使用条码仓库管理系统 - 系统设置功能</p>
                    <!-- 这里将添加具体的系统设置实现 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 底部脚本 -->
    {include file="public/js"/}
    
    <script>
        layui.use(['layer'], function() {
            var layer = layui.layer;
        });
    </script>
</body>
</html>