@font-face {
  font-family: "iconfont";
  src: url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icona-huaban2721:before {
  content: "\e651";
}

.iconbianjiwenjian:before {
  content: "\e610";
}

.iconicon-download:before {
  content: "\e61a";
}

.iconfangwen-baocun:before {
  content: "\e62f";
}

.iconicon_shoucangjia:before {
  content: "\e6c2";
}

.iconlishijilu:before {
  content: "\e60f";
}

.iconwode-jiaoyouqun:before {
  content: "\e60e";
}

.icontongxunlutongxunbumingce:before {
  content: "\e679";
}

.iconjijian:before {
  content: "\e6fc";
}

.iconyouhuiquanxia:before {
  content: "\e60d";
}

.iconyouhuiquanzhong:before {
  content: "\e60c";
}

.iconyouhuiquan:before {
  content: "\e60b";
}

.iconjiantou:before {
  content: "\e60a";
}

.icondingwei:before {
  content: "\e608";
}

.icontuikuandingdan:before {
  content: "\e607";
}

.iconyiwancheng:before {
  content: "\e606";
}

.icondaishouhuo:before {
  content: "\e605";
}

.icondaifahuo:before {
  content: "\e604";
}

.icondaifukuan:before {
  content: "\e603";
}

.iconchenggong:before {
  content: "\e668";
}

.icondaoxu:before {
  content: "\e602";
}

.iconshaixuan:before {
  content: "\e6ad";
}

.iconshangla:before {
  content: "\e609";
}

.icon_gouwuche:before {
  content: "\e618";
}

.iconsearchsousuo:before {
  content: "\e6e0";
}

